@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&family=Cinzel:wght@500&family=Dancing+Script:wght@700&family=Rajdhani:wght@400;500;700&family=Sedgwick+Ave+Display&display=swap');


.Sec4{
    font-family:'Rajdhani', sans ;
    margin-bottom: 0px;
    height: fit-content;
    margin-top: 100px !important;
}
@media screen and (max-width : 768px){
    .Sec4{
        padding-top: 450px;
    }
    
}